@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #38bdf8;
  --text-color: #ffffff;
}

html.light {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #0f172a;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a2a24d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #8a87873f;
}
